{% extends "nacholibreAdminBundle::layout.html.twig" %}

{% block pageHeaderTitle headerTitle | trans %}

{% block content %}
{{ parent() }}
<div class="row">
    <div class='col-md-12 col-lg-8'>
        {#
        {{ form_start(form) }}
        #}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {#
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for locale in locales %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ locale }}" aria-expanded="true" aria-controls="collapseOne">
                            {{ locale }}
                        </a>
                    </h4>
                </div>
                <div id="{{ locale }}" class="panel-collapse {% if not loop.first %}collapse{% else %}collapse in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% if locale == 'bg' %}
                        {{ form_row(form.name) }}
                        {{ form_row(form.content) }}
                        {% else %}
                        {{ form_row(form['name' ~ '_en']) }}
                        {{ form_row(form['content' ~ '_en']) }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        #}

        {{ form_widget(form) }}
        <input type="submit" value="{{ 'Save' | trans }}" class="btn btn-default btn-primary btn-lg" />
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
